body {
    padding: 50px;
    margin: 0 auto;
}

a {
}

.box {
    max-width: 160px;
    display: flex;
}

.slot {
    border: black solid 1px;
    height: 30px;
    width: 30px;
    font-family: Consolas, serif;
    font-size: 18px;
    text-align: center;
    vertical-align: text-bottom;
    background-color: darkblue;
    color: white;
}